
<template>
    <div class = "login">
        
        <!-- START login -->

        <div class="ui middle aligned center aligned grid" style="margin-top:200px;" >
            <div class="column">
                <h2 class="ui image header" style ="">
                <div class="content">
                    Log-in 
                </div>
                </h2>
                <form action="https://s.codepen.io/voltron2112/debug/PqrEPM?" method="get" class="ui large form">
                <div class="ui stacked secondary  segment">
                    <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input autocomplete="off" v-model="nationalCode" id="nationalCode" type="text" name="email" placeholder="کد ملی">
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input autocomplete="off" v-model="btiuId" id="btiuId" type="text" name="password" placeholder="کد همایش" >
                    </div>
                    </div>
                    <div v-bind:disabled ="isWaiting" @click="sendNationalCodeToApi" v-bind:class="{disabled: !nationalCodeValid | !btiuIdValid } " class="ui fluid large teal submit button">Login</div>
                </div>

                <div class="ui error message"></div>

                </form>

               
            </div>
        </div>



        <!-- END login -->

    </div>
</template>

<script>

    import Toolbar from '@/components/Toolbar.vue'
    import $ from 'jquery';
    import VueCropper from 'vue-cropperjs';
    import axios from 'axios';

    $('document').ready(function(){

    });

    export default {
        name: 'Login',
        components: {
            Toolbar
        },
            methods:{
                sendNationalCodeToApi : function () {
                    // this.$store.state.nationalCode = this.nationalCode
                    // this.$store.state.btiuId = this.btiuId
                    // localStorage.setItem('nationalCode' , this.nationalCode);
                    // localStorage.setItem('btiuId' , this.btiuId);
                    localStorage.setItem('nationalCode' , this.nationalCode);
                    localStorage.setItem('btiuId' , this.btiuId);

                    this.isWaiting = true;
                    let that = this;
                    let nationalCode = this.persianToEnglish(this.nationalCode)
                   
                    axios.post('http://api.btiu.ir/api/workshop/getUnsurveyedWorkShops', { "nationalCode": that.nationalCode , "btiuId":that.btiuId })
                        .then(function(response){
                        
                            Router.push({ name : 'Survey'})
                        }).catch((err) => {
                        // Materialize.toast(err.response.data.error, 8000);
                        that.isWaiting = false;
                    })



                },
                persianToEnglish :  function(value) {
                    var newValue = "";
                    for (var i = 0; i < value.length; i++) {
                        var ch = value.charCodeAt(i);
                        if (ch >= 1776 && ch <= 1785) {
                            // For Persian digits.
                            var newChar = ch - 1728;
                            newValue = newValue + String.fromCharCode(newChar);
                        } else if (ch >= 1632 && ch <= 1641) {
                            // For Arabic & Unix digits.
                            var newChar = ch - 1584;
                            newValue = newValue + String.fromCharCode(newChar);
                        } else newValue = newValue + String.fromCharCode(ch);
                    }
                    return newValue;
                }   

            },
                
            mounted(){

            },
            watch : {
                nationalCode : function (val) {
                    if(val.length!=10){
                        this.nationalCodeValid = false
                    }
                    else {
                        this.nationalCodeValid = true
                    }
                },
                btiuId : function (val) {
                    if(val!=``){
                        this.btiuIdValid = true
                    }
                    else{
                        this.btiuIdValid = false
                    }
                }
            },

        data(){
            return{
                nationalCode : ``,
                nationalCodeValid: false,
                btiuIdValid: false,
                isWaiting : false,
                btiuId : ``
            }
        },
      
}

       
    
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >

    body > .grid {
      height: 100%;
    }
    .image {
      
    }
    .column {
      max-width: 450px;
    }

</style>
