<template>
    <div class="survey">
        
    </div>


</template>

<script>
    import Toolbar from '../components/Toolbar'
    export default {
        name: 'Survey',
        components: {
            Toolbar,
        }
        
    }


</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
   
</style>
