<template>
    <div class = "Toolbar">
        <div class="ui stackable menu">
            
            
        </div>
        
    </div>
</template>

<script>
    export default {
        name: 'Toolbar',
        
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >

</style>
