<template>
    <div>
        
         <router-view/>
         
    </div>
   
</template>

<script>

</script>
<style>
    @import "./assets/css/fontiran.css";
    

    h1,h2,h3,h4,h5,h6,table,tr,th,td,body,a,p{
        font-family: IRANSans;
    }



</style>
